@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-image: url("https://mattskinner30.github.io/matt-skinner-design-v2/images/background.svg"); 
  background-size: 100%;
  background-repeat: repeat-y;
}

/**
font-family: 'Reenie Beanie', cursive;
font-family: 'Roboto Slab', serif;
#ff401b; Main Orange
#ffcdc3; Hover Orange
**/

/** 
==================================================
==================================================
==================================================
**************THIS IS THE HEADER CSS**************
==================================================
==================================================
==================================================
**/


header {

}

.header-logo {
  margin: 25px 0;
  padding-left: 3em;
}

.header-ul {
  float: right;
  margin: 25px 0;
}

.header-li {
  display: inline-block;
  padding: 0 3em;
}

.header-a {
  text-decoration: none;
  color: black;
  padding: 1.31em;
}

.header-a-active {
  text-decoration: none;
  color: #ff401b;
  padding: 1.31em;
}


.header-a:hover, .header-a-active:hover {
  border: solid 5px #ff401b;
  color: #ff401b;
  background-color: #ffcdc3;
  padding: 1em;
}

/** 
==================================================
==================================================
==================================================
***************THIS IS THE MAIN CSS***************
==================================================
==================================================
==================================================
**/

h2 {
  font-size: 36pt;
  margin: 1em 0 0 0;
}

.main-logo {
  width: 33.3333%;
  display: block;
  margin: 0 auto 7em auto;

}

.main-work-link {
  text-decoration: none;
  font-size: 16pt;
  border: solid 5px #ff401b;
  padding: 40px;
  color: #ff401b;
  display: block;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.main-work-link:hover {
  border: solid 5px #ff401b;
  color: #ff401b;
  background-color: #ffcdc3;
}

.main-work-link-div {

}

.main-p {
  font-size: 28pt;
}


/** 
==================================================
==================================================
==================================================
**************THIS IS THE SELECT CSS**************
==================================================
==================================================
==================================================
**/

.work-type-image {
  padding: 1em;
  position: relative;
  z-index: 900;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


.work-type-image:hover {
  filter: grayscale(0%);
}

.work-type-div {
}

.work-type-grid {
  margin: 0 5%;
  padding: 0;
  letter-spacing: -.31em;
  text-rendering: optimizeSpeed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/** 
==================================================
==================================================
==================================================
**********THESE ARE THE SECTION CLASSES***********
==================================================
==================================================
==================================================
**/

.section-h1 {
  font-size: 36pt;
  margin-top: 0;
}

.section-intro-p {
  display: block;
  width: 33.3333%;
  margin: 0 auto 2em auto;
  text-align: justify;
}

.project-title {
 font-size: 36pt;
 text-align: center;
 margin-top: 0.5em;
}

.project-div {
  padding: 3em;
}

.cover {

}

.project-description {

}

.project-link {
  padding: 20px 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-decoration: none;
  border: 5px solid #ff401b;
  color: #ff401b;;
}

.project-link:hover {
  border: 5px solid #ff401b;
  background-color: #ffcdc3;
  color: #ff401b;
}

.interaction-project-1 {
  background-color: blue;
}



/** 
==================================================
==================================================
==================================================
**********THESE ARE THE PROJECT CLASSES***********
==================================================
==================================================
==================================================
**/

.project-h1 {
  font-size: 48pt;
}

.project-main-p {
/*
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
*/

  width: 60%;
  margin: 0 auto;
  padding: 0 0 3em 0;
}

.project-caption {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  width: 60%;
  margin: 0 auto;
  padding: 1em 0 2em 0;
}

.project-image {
  width: 75%;
  display: block;
  margin: 3em auto 0 auto;
}

.project-image-portrait {
  width: 33%;
  display: block;
  margin: 3em auto 0 auto;
}

.project-image-photo {
  width: 50%;
  display: block;
  margin: 3em auto 0 auto;
}

.project-main-p a {
  color: #ff401b;
}

.project-main-p a:hover {
  text-decoration: underline;
}

.illustration {
  padding: 10px;
}


/** 
==================================================
==================================================
==================================================
**********THESE ARE THE PRE MADE CLASSES**********
==================================================
==================================================
==================================================
**/


 .center {
  text-align: center;
 }

.slab {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.slab-body {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}

.cursive {
  font-family: 'Reenie Beanie', cursive;
  font-weight: normal;
}

.media-img, .media__img {
  float: left;
  width: 33.3333%;
}

.media-body, .media__body {
  overflow: visible;
  padding-left: 30%;
  min-width: 12em; /* Slightly less than 200px, responsiveness built in */
}

.video {
  margin: 0 auto;
  display: block;
  border: 2px solid black;
}












