@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}


/** 
==================================================
==================================================
==================================================
**************THIS IS THE HEADER CSS**************
==================================================
==================================================
==================================================
**/


header {
  background-color: #ccc;
}

.header-logo {
  margin: 25px 0;
  padding-left: 3em;
}

.header-ul {
  float: right;
  margin: 25px 0;
}

.header-li {
  display: inline-block;
  padding: 0 3em;
}

.header-a {
  text-decoration: none;
}

/** 
==================================================
==================================================
==================================================
***************THIS IS THE MAIN CSS***************
==================================================
==================================================
==================================================
**/

h2 {
  font-size: 24pt;
  color: #ff401b;

}

.main-logo {
  width: 40%;
  padding: 0 0 10em 30%;

}

.main-work-link {
  text-decoration: none;
  font-size: 16pt;
  border: solid 3px #ff401b;
  padding: 2.5em;
  margin: 0 0 0 10%;
  color: #ff401b;
}

.main-work-link:hover {
  border: solid 5px #ff401b;
  color: #ff401b;
  font-weight: bold;
  background-color: #ffcdc3;
}

.main-work-link-div {
  margin-top: 2.5em;
}

.main-p {
  margin: 0 10% 0 40%;
  font-size: 16pt;
}




/** 
==================================================
==================================================
==================================================
**********THESE ARE THE PRE MADE CLASSES**********
==================================================
==================================================
==================================================
**/


 .center {
  text-align: center;
 }






















