@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-image: url("https://mattskinner30.github.io/matt-skinner-design-v2/images/background.svg");
  background-size: 100%;
  background-repeat: repeat-y;
}

/**
font-family: 'Reenie Beanie', cursive;
font-family: 'Roboto Slab', serif;
#ff401b; Main Orange
#ffcdc3; Hover Orange
**/

/**
==================================================
==================================================
==================================================
**************THIS IS THE HEADER CSS**************
==================================================
==================================================
==================================================
**/

.header-logo {
  margin: 25px 0;
  padding-left: 3em;
}

.header-ul {
  float: right;
  margin: 25px 0;
}

.header-li {
  display: inline-block;
  padding: 0 3em;
}

.header-a {
  text-decoration: none;
  color: black;
  padding: 1.31em;
}

.header-a-active {
  text-decoration: none;
  color: #ff401b;
  padding: 1.31em;
}

.header-a:hover, .header-a-active:hover {
  border: solid 5px #ff401b;
  color: #ff401b;
  background-color: #ffcdc3;
  padding: 1em;
}

nav span {
  visibility: hidden;
}

.closebtn {
  visibility: hidden;
}

/**
==================================================
==================================================
==================================================
***************THIS IS THE MAIN CSS***************
==================================================
==================================================
==================================================
**/

h2 {
  font-size: 36pt;
  margin: 1em 0 0 0;
}

.main-logo {
  width: 33.3333%;
  display: block;
  margin: 0 auto 7em auto;
}

.main-work-link {
  text-decoration: none;
  font-size: 16pt;
  border: solid 5px #ff401b;
  padding: 40px;
  color: #ff401b;
  display: block;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.main-work-link:hover {
  border: solid 5px #ff401b;
  color: #ff401b;
  background-color: #ffcdc3;
}

.main-p {
  font-size: 28pt;
}

/**
==================================================
==================================================
==================================================
**************THIS IS THE SELECT CSS**************
==================================================
==================================================
==================================================
**/

.work-type-image {
  padding: 1em;
  position: relative;
  z-index: 900;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.work-type-image:hover {
  filter: grayscale(0%);
}

.work-type-div h2 {
  margin-top: -1em;
}

.work-type-grid {
  margin: 0 5%;
  padding: 0;
  letter-spacing: -.31em;
  text-rendering: optimizeSpeed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/**
==================================================
==================================================
==================================================
**********THESE ARE THE SECTION CLASSES***********
==================================================
==================================================
==================================================
**/

.section-h1 {
  font-size: 36pt;
  margin: 0;
}

.section-intro-p {
  display: block;
  width: 33.3333%;
  margin: 0 auto 2em auto;
  text-align: justify;
}

.project-title {
  font-size: 36pt;
  text-align: center;
  margin-top: 0.5em;
}

.project-div {
  padding: 3em;
}

.project-link {
  padding: 20px 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-decoration: none;
  border: 5px solid #ff401b;
  color: #ff401b;
}

.project-link:hover {
  border: 5px solid #ff401b;
  background-color: #ffcdc3;
  color: #ff401b;
}

.interaction-project-1 {
  background-color: blue;
}

.work-type-grid h2 {
  font-size: 30pt;
}

/**
==================================================
==================================================
==================================================
**********THESE ARE THE PROJECT CLASSES***********
==================================================
==================================================
==================================================
**/

.project-h1 {
  font-size: 48pt;
}

.project-main-p {
  width: 60%;
  margin: 0 auto;
  padding: 0 0 3em 0;
}

.project-caption {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  width: 60%;
  margin: 0 auto;
  padding: 1em 0 2em 0;
}

.project-image {
  width: 75%;
  display: block;
  margin: 3em auto 0 auto;
}

.project-image-portrait {
  width: 33%;
  display: block;
  margin: 3em auto 0 auto;
}

.project-image-photo {
  width: 50%;
  display: block;
  margin: 3em auto 0 auto;
}

.project-image-last {
  padding-bottom: 2em;
}

.project-main-p a {
  color: #ff401b;
}

.project-main-p a:hover {
  text-decoration: underline;
}

.illustration {
  padding: 10px;
}

/**
==================================================
==================================================
==================================================
**********THESE ARE THE CONTACT CLASSES***********
==================================================
==================================================
==================================================
**/

.contact-img {
  float: left;
  width: 25%;
  margin: 0 0 0 5%;
}

.contact-h1 {
  font-size: 48pt;
  margin: 0 0 10px 10%;
}

.contact-div {
  float: right;
  width: 70%;
}

.contact-link {
  padding: 10px 20px;
  margin-left: 10%;
  display: block;
  text-align: center;
  text-decoration: none;
  border: 5px solid #ff401b;
  color: #ff401b;
  width: 50%;
  margin-bottom: 10px;
}

.contact-link:hover {
  border: 5px solid #ff401b;
  background-color: #ffcdc3;
  color: #ff401b;
}

.contact-p {
  margin: 0 30% 5% 10%;
}

/**
==================================================
==================================================
==================================================
**********THESE ARE THE PRE MADE CLASSES**********
==================================================
==================================================
==================================================
**/

.center {
  text-align: center;
}

.slab {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.slab-body {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}

.cursive {
  font-family: 'Reenie Beanie', cursive;
  font-weight: normal;
}

.media-img, .media__img {
  float: left;
  width: 33.3333%;
}

.media-body, .media__body {
  overflow: visible;
  padding-left: 30%;
  min-width: 12em; /* Slightly less than 200px, responsiveness built in */
}

.video {
  margin: 0 auto;
  display: block;
  border: 2px solid black;
}


@media only screen and (max-width: 1198px) {

  .work-type-grid h2 {
    font-size: 30pt;
  }
}

@media only screen and (max-width: 891px) {

  .work-type-grid h2 {
    font-size: 24pt;
  }

  .main-work-link {
    width: 40%;
    padding: 30px;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
    padding: 0;
  }

  .overlay a:hover {
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #ff401b;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    visibility: visible;
  }

  nav span {
    position: absolute;
    top: 5%;
    right: 5%;
    text-decoration: none;
    color: black;
    visibility: visible;
    padding: 1.31em;
    font-size: 16pt;
  }

  nav span:hover {
    border: solid 5px #ff401b;
    color: #ff401b;
    background-color: #ffcdc3;
    padding: 1em;
  }

    .header-logo {
    max-width: 150px;
    margin: 60px 0 0 0;
  }

  .main-logo {
    width: 50%;
  }
}




@media only screen and (max-width: 607px) {

  .header-bot-pad {
    padding-bottom: 25px;
  }

  .work-type-grid h2 {
    font-size: 36pt;
  }

  .main-work-link {
    width: 50%;
    padding: 30px;
  }

  h2 {
    font-size: 28pt;
  }

  .work-type-image {
    padding-bottom: 5em;
    width: 75%;
  }


  .project-image {
    width: 90%;
  }

  figure {
    margin: 0;
  }

  .project-caption, .project-main-p {
    width: 80%;
  }


}




@media screen and (max-width: 450px) {

  .overlay a {
    font-size: 20px
  }
  
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  nav span {
    top: 1%;
    right: 1%;
  }

  .header-logo {
    max-width: 125px;
    margin: 15px 0 0 -35px;
  }

  header ul {
    padding: 0;
  }


  nav span {
    padding: 0.81em;
    font-size: 12pt;
  }

  nav span:hover {
    border: solid 5px #ff401b;
    color: #ff401b;
    background-color: #ffcdc3;
    padding: 0.5em;
  }

  .header-li {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16pt;
  }

  .header-bot-pad {
    padding-bottom: 25px;
  }
}



























